<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    		/// link up under this is from the cats app in the repo//

		{{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
		<title>CREATE YOUR ON DELICIOUS BURGERS</title>
		<script src="https://code.jquery.com/jquery.js"></script>
        		/// link up under this is from the cats app in the repo//

		{{!-- <script src="/assets/js/cats.js"></script> --}}
	</head>
	<body>
		{{{ body }}}
	</body>
</html>