<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center" id="top-bar">
  <h1>BEST BURGERS!</h1>
  <h2>BEST BURGERS AT YOUR OWN DESPENSE!!</h2>
  </div>

  

  <ul>
   <li> {{#each burgers}}</li>
    <li>{{#unless devoured}}</li>
    <li>{{> burgers/burger-block devoured=true}}</li>
    <li>{{/unless}}</li>
    <li>{{/each}}</li>
  </ul>

  <h2>BURGERS ARE READY FOR YOU TO FEAST ON!!!</h2>

  <ul>
    <li>{{#each burgers}}</li>
    <li>{{#if devoured}}</li>
    <li>{{> burgers/burger-block devoured=false}}</li>
    <li>{{/if}}</li>
    <li>{{/each}}</li>
  </ul>

  <h2>WHAT"S YOUR BURGER!!</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="ca">BURGER TYPE:</label>
      <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
      <label for="devoured">Devoured?</label><br>
      <input type="radio" name="devoured" value="1" checked> Sleepy!<br>
      <input type="radio" name="devoured" value="0"> Awake
    </div>

    <button type="submit">Add Burger</button>
  </form>
  </div>
</div>